<h1 id="index">Questions</h1>
<hr />
<% @questions.each do |question| %>
  <h2><%= link_to "#{question.title}", question_path(question)  %></h2>
  <p>
  <%= question.content %>
  <%= "tag_id:" + question.tag_id.to_s %>
  </p>
<% end %>
<hr />
<%= paginate @questions%>
<%= page_entries_info @questions %>














<!-- <footer>
           <div class="footrow">
                   <p>Copyright &copy; Rubeast Cohort 10 2017</p>
           </div>
       </footer> -->
>>>>>>> Stashed changes
