<% if current_user %>
 <h1>creating a new question</h1>

 <%= form_for @question do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.label :tag_id %>
  <%= f.text_field :tag_id %>

  <%= f.submit "submit" %>
 <% end %>

 <% else %>
  <h2>You must be logged in to create a new question</h2>
  <p><%= link_to 'Login', login_path %> | <%= link_to 'Register', new_user_path %></p>
 <% end %>
