 <h1>Answers</h1>
<hr />
<% @answers.each do |answer| %>
<!-- byebug -->
  <h2><%= question.title %></h2>
  <p>
  <%= answer.content %>
  <%= "is_valid:" + answer.is_valid.to_s %>
  <%= "user:" + answer.user_id.to_s %>
  </p>
<% end %>
<hr />
<%= paginate @questions %>
<%= page_entries_info @questions %>

<h1 id="answers">Answers#show</h1>
<p id="answers">Find me in app/views/answers/show.html.erb</p>

<footer>
	<div class="footrow">
		<p>Copyright &copy; Rubeast Cohort 10 2017</p>
	</div>
</footer>
